.quorabox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    cursor:pointer;
    max-width: 700px;
}

.quorabox:hover {
    border: 1px solid rgb(175, 175, 175);
  }

  .quorabox__info {
    display: flex;
    align-items: center;
  }

  .quorabox__info > h5 {
    color: rgb(129, 129, 129);
    font-weight: bold;
    margin-left: 10px;
    font-size: large; 
  }

  .quorabox__quora {
    display: flex;
    margin-top: 8px;
    padding-top: 2px;
  }